<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BoughtItems.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <BoughtItems.Properties.Settings>
            <setting name="HtmlFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="HtmlDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportedHTMLDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LazadaCookie" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecentCount" serializeAs="String">
                <value>0</value>
            </setting>
        </BoughtItems.Properties.Settings>
    </userSettings>
</configuration>
